/* Desktop (default) */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 1000;
}

#header-navbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.logo-container img {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.header-icons .social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.header-icons .social-icon:hover {
    transform: scale(1.3);
}

.header-icons .social-icon svg {
    width: 100%;
    height: 100%;
}

.logo-addres {
    display: inline-block;
    /* o block si lo prefieres */
    line-height: 0;
    /* elimina espacio vertical heredado */
    text-decoration: none;
    /* evita subrayados invisibles */
}

.logo-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
    /* muy importante para evitar espacios */
}

.logo-container img {
    display: block;
    /* quita el espacio inferior */
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

/* Animación para botón hamburguesa => cruz */

.toggle-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.toggle-menu svg {
    transition: transform 0.4s ease;
}

.toggle-menu .line {
    transition: transform 0.4s ease, opacity 0.3s ease;
    transform-origin: center;
}

.toggle-menu.open .line1 {
    transform: rotate(0deg) translate(0, 0);
}

.toggle-menu.open .line2 {
    opacity: 1;
}

.toggle-menu.open .line3 {
    transform: rotate(0deg) translate(0, 0);
}

/* ANIMACIÓN A CRUZ */
.toggle-menu.close .line1 {
    transform: rotate(45deg) translateY(8px);
}

.toggle-menu.close .line2 {
    opacity: 0;
}

.toggle-menu.close .line3 {
    transform: rotate(-45deg) translateY(-8px);
}


/* Responsive for smaller devices */
@media (max-width: 850px) {
    header {
        padding: 1rem;
    }

    #header-navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container img {
        width: 65px;
        height: 65px;
    }

    .header-icons {
        display: none;
    }
}