---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import "../styles/facilities.css";
import "../styles/footer.css";
---

<Layout>
  <main>
    <section>
      <div class="text-container">
        <h1 id="tittle-aforo" class="tittle"></h1>
        <h2 id="description-aforo" class="description"></h2>
      </div>
      <div class="pictures-container">
        <div
          class="bg-image active"
          style="background-image: url(/img/facilities/aforo/img1.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/aforo/img2.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/aforo/img3.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/aforo/img4.jpg);"
        >
        </div>
      </div>
    </section>
    <section>
      <div class="text-container">
        <h1 id="tittle-comfort" class="tittle"></h1>
        <h2 id="description-comfort" class="description"></h2>
      </div>
      <div class="pictures-container">
        <div
          class="bg-image active"
          style="background-image: url(/img/facilities/comfort/img1.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/comfort/img2.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/comfort/img3.jpg);"
        >
        </div>
      </div>
    </section>
    <section>
      <div class="text-container">
        <h1 id="tittle-access" class="tittle"></h1>
        <h2 id="description-access" class="description"></h2>
      </div>
      <div class="pictures-container">
        <div
          class="bg-image active"
          style="background-image: url(/img/facilities/access/img1.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/access/img2.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/access/img3.jpg);"
        >
        </div>
      </div>
    </section>
    <section>
      <div class="text-container">
        <h1 id="tittle-views" class="tittle"></h1>
        <h2 id="description-views" class="description"></h2>
      </div>
      <div class="pictures-container">
        <div
          class="bg-image active"
          style="background-image: url(/img/facilities/views/img1.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/views/img2.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/views/img3.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/views/img4.jpg);"
        >
        </div>
      </div>
    </section>
    <section>
      <div class="text-container">
        <h1 id="tittle-services" class="tittle"></h1>
        <h2 id="description-services" class="description"></h2>
      </div>
      <div class="pictures-container">
        <div
          class="bg-image active"
          style="background-image: url(/img/facilities/services/img1.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/services/img2.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/services/img3.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/services/img4.jpg);"
        >
        </div>
        <div
          class="bg-image"
          style="background-image: url(/img/facilities/services/img5.jpg);"
        >
        </div>
      </div>
    </section>
  </main>
  <Footer />
  <script type="module">
    import { renderFacilitiesContent } from "../src/scripts/textManager.js";

    document.addEventListener("DOMContentLoaded", () => {
      renderFacilitiesContent();
    });

    document.addEventListener("languageChanged", () => {
      renderFacilitiesContent();
    });
  </script>
  <script>
    import "../scripts/images";
  </script>
</Layout>
