---
// /src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import "../styles/index.css";
import "../styles/footerIndex.css";
---

<Layout>
	<main>
		<section id="section1" class="pictures-container">
            <div class="bg-image active" style="background-image: url('/img/index/img1.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img2.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img3.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img4.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img5.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img6.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img7.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img8.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img9.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img10.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img11.jpg');"></div>
            <div class="bg-image" style="background-image: url('/img/index/img12.jpg');"></div>

            <div class="title-subsection">
                <img src="/img/logo-section.png" alt="logo-section">
            </div>
            
        </section>
	</main>
    <Footer></Footer>
	<script>
        import "../scripts/images";
	</script>
</Layout>
