---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import "../styles/menus.css";
import "../styles/footer.css";
---

<Layout>
    <main>
        <section class="menus-header">
            <h1 id="menus-title"></h1>
            <p id="menus-subtitle"></p>
        </section>

        <section>
            <div id="menus-list" class="menus-grid">
                <!-- Aquí se inyectarán las tarjetas desde textManager.js -->
            </div>
        </section>
    </main>

    <Footer />

    <script type="module">
        document.addEventListener("DOMContentLoaded", () => {
            import("../src/scripts/textManager.js").then(({ renderMenus, renderMenusTitles }) => {
                renderMenus();
                renderMenusTitles();
            });
        });

        document.addEventListener("languageChanged", () => {
            import("../src/scripts/textManager.js").then(({ renderMenus, renderMenusTitles }) => {
                renderMenus();
                renderMenusTitles();
            });
        });
    </script>
</Layout>
