---
import "../styles/fullMenu.css";
import SocialIcons from "./socialIcons.astro";
import LanguageFlags from "./LanguageFlags.astro";
---

<div id="fullScreenMenu" class="menu">
    <div class="background-sm"></div>

    <section id="main-nav" class="main-navigation">
        <div id="nav-container-sm" class="nav-container-sm"></div>

        <div class="nav-container-sm2">
            <LanguageFlags />
            <SocialIcons class="social-icons menu-icons" />
        </div>
    </section>
</div>
