---
// src/components/FullMenu.astro
import "../styles/fullMenu.css";
import SocialIcons from "./socialIcons.astro";
import LanguageFlags from "./LanguageFlags.astro";
---

<div id="fullScreenMenu" class="menu">
    <div class="background-sm"></div>

    <nav class="nav-container-sm" id="nav-container-sm"></nav>

    <div class="nav-container-sm2">
        <LanguageFlags></LanguageFlags>
        <SocialIcons class="social-icons menu-icons"></SocialIcons>
    </div>
</div>
