---
// src/components/LanguageFlags.astro
---
<div class="lang_flags">
  <div class="flags__item" data-language="es" title="Español">
    <img src="/img/flags/es.svg" alt="Bandera de España" loading="lazy" />
    <span>ES</span>
  </div>
  <span class="separator">|</span>
  <div class="flags__item" data-language="en" title="English">
    <img src="/img/flags/en.svg" alt="English Flag" loading="lazy" />
    <span>EN</span>
  </div>
  <span class="separator">|</span>
  <div class="flags__item" data-language="de" title="Deutsch">
    <img src="/img/flags/de.svg" alt="Deutsche Flagge" loading="lazy" />
    <span>DE</span>
  </div>
  <span class="separator">|</span>
  <div class="flags__item" data-language="fr" title="Français">
    <img src="/img/flags/fr.svg" alt="Drapeau Français" loading="lazy" />
    <span>FR</span>
  </div>
</div>

